body {
    font-family: 'Helvetica', sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #010101; /* Light background color */
}

#page-heading {
    text-align: center;
    margin-top: 24px;
    color: #feffff;
}

.fa-regular {
    font-size: 26px;
    margin-right: 10px;
    color: #03a9f4;
}

#container {
    /* margin-left: 2%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-container {
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    background-color: #f3e7d5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light box shadow for a subtle lift */
    border-radius: 10px; /* Rounded corners */
}

ul.contact-list {
    list-style: none;
    padding: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #ffffff;
}

tr {
    margin: 4px;
    padding: 1px;
    border: 2px solid #ddd; /* Light gray border */
}

tr:hover {
    transform: scale(1.05);
}

td {
    text-align: left;
    font-size: medium;
    padding: 10px;
}

#second-blk {
    font-weight: lighter;
    color: #555; /* Dark gray text color */
}

#forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fff; /* White background color */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light box shadow */
}

.name-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.email-group {
    display: flex;
    flex-direction: column;
    text-align: end;
}

input {
    border: 2px solid #03a9f4;
    margin: 8px;
    padding: 8px;
    border-radius: 5px; /* Rounded corners */
}

input:hover{
    border: 5px solid #1556cf;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
}

#cntc-btn {
    background-color: #03a9f4;
    color: white;
    margin: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

#cntc-btn:hover {
    background-color: #1556cf; /* Darker blue on hover */
    transform: scale(0.95);
    transition: color 0.3s ease;
}

/* To position the delete button at the end */
.contact-entry {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centering items vertically */
}

.name-group, .email-group {
    width: 150px;
}

.fa-delete-left {
    margin-left: 10px;
    color: red; /* Default text color */
    transition: color 0.3s ease; /* Smooth color transition */
}

.fa-delete-left:hover {
    color: rgb(98, 17, 17); /* Red text color on hover with !important */
    transform: scale(1.3);
}
